/***** Common *****/

.cont{max-width:1600px; width:100%; margin:0 auto;}

/***** Section *****/

.section{width:100%; height:100%;}
.banner-out{background-color:#fff; height:50%; width:100%; position: relative;}
.banner{background-image:url(../img/coding.jpg); background-size:cover; background-repeat: no-repeat; height:100%; width:100%; opacity:0.8;}

.ban-tit{position: absolute; top:88%; left:10.7rem;}
.ban-tit > span{font-size:7rem; font-weight:800; display:block; letter-spacing:-0.3rem; line-height:7rem; padding:0.5rem 0;}
.ban-tit > h1{font-weight: bold; font-size:3.5rem; letter-spacing:0.3rem; padding:2rem 0;}
.ban-tit > p{font-size:1.125rem; font-weight:bold; letter-spacing:0.2rem;}

.content{} 
.bt-about{background-color:#225f2f; color:#fff; width:170px; height:50px; text-align:center; line-height: 50px;
font-size:2.14rem; font-weight: bold; margin:4.28rem auto;}

/* skills */
.black-back{width:100%; height:500px; background-color:#000; position: relative;}
.black-table{width:1200px; height:100%; margin:0 auto;}
.skills{width:100%; height:100%; }
.skills > p{color:#fff; text-align: center;  font-size:2.14rem; margin:0 auto 6rem; padding-top:1rem;}
.skill{width:100%; margin:0 auto;}
.skill > li{width:20%; float:left; text-align: center;}
.skill .skill-cir{width:150px; height:150px; background-color:#fff; border-radius: 50%; margin:auto;}
.skill > li > span {color:#fff; display:block; font-size:1.5rem; margin-top:1rem; font-weight: 400;}
.skill > li:first-child >:last-child {margin-top:0;}

/* introduce */

.who{width:800px; height:100%; margin:0 auto; padding-top:2rem; display:none; margin:0 auto 6rem; padding-top:1rem;}
.who > p{color:#fff; text-align: center;  font-size:2.14rem;  margin:0 auto 6rem; padding-top:1rem;}
.who > li {width:46%; height:100%; float:left;}
.who > li:nth-child(2){margin-right:8%;}
.who > li > .photo-me{ margin:0 auto; background-color:#999; width:98%; height:50%;}
.who > li > div > span{display:block; color:#fff; font-size:1.25rem; margin-bottom:1rem;}

/* strength */

.strength {display:none;}
.strength > p{color:#fff; text-align: center;  font-size:2.14rem; margin:0 auto 6rem; padding-top:1rem;}

/* slide-circle */
.slide-cir{position: absolute; bottom:5%; left:50%; width:100px; margin:0 auto; -webkit-transform:translate(-50%, -5%);
    -moz-transform:translate(-50%, -5%); -o-transform:translate(-50%, -5%); transform:translate(-50%, -5%);}
.slide-cir li{width:33.3%; float:left;}
.slide-cir li div{width:20px; height:20px; border-radius: 50%; background-color:#fff;  margin:auto; box-sizing:border-box; cursor: pointer;}
.slide-cir li:nth-child(2) div{background-color:transparent; border:1px solid #fff;}
.slide-cir li:last-child div{background-color:transparent; border:1px solid #fff;}








