@import 'base.css';

.main{width:100%; height:100.2%;}
.wrap{max-width:1600px; width:100%; height:100%; margin:0 auto; position: relative;}
.index{height:100%;}
.cont{max-width:1600px; width:100%; margin:0 auto;}

/***** Top *****/


.logo{width:10%; float:left;}
.menu_bar{float:right; cursor: pointer;}
.menu_bar > .ham {width:40px; height:3px; background-color:#000; margin-bottom:10px;}

/***** Header *****/

.head {position:relative; width:100%; height:15%; display:table;}
.head > div {display:table-cell; vertical-align:middle;}

/***** Bottom *****/

.bot {width:100%; height:15%; display:table;}
.bot > div {display:table-cell; vertical-align:middle;}
.bottom{width:100%;}
.bot-txt{float:left;}
.bot-icon{float:right; padding-top:0.9rem;}
.bot-txt > span{display:block;}
.bot-txt > span:first-child {font-weight: bold; font-size:1.125rem;}
.bot-icon > a{color:#000; float:left; text-align: center;}
.bot-icon > a > i{margin-left:1rem; font-size:1.5rem; }
.bot-icon > a > div{width:0%; height:2px; float:right; animation-duration: 0.5s; animation-fill-mode:forwards;}
.bot-icon > a:first-child:hover{color:#3b5998; -webkit-transition:all 0.5s ease;transition:all 0.5s ease;}
.bot-icon > a:nth-child(2):hover{color:#b21b85; -webkit-transition:all 0.5s ease;transition:all 0.5s ease;}
.bot-icon > a:nth-child(3):hover{color:#cb2027; -webkit-transition:all 0.5s ease;transition:all 0.5s ease;}
.bot-icon > a:last-child:hover{color:#236131; -webkit-transition:all 0.5s ease;transition:all 0.5s ease;}
.bot-icon > a:last-child{padding-top:0.1rem;}
.bot-icon > a:first-child > div{background-color:#3b5998;}
.bot-icon > a:nth-child(2) > div{background-color:#b21b85;}
.bot-icon > a:nth-child(3) > div{background-color:#cb2027;}
.bot-icon > a:last-child > div{background-color:#236131;}

@keyframes iconAni{
    0%{width:0%;}
    100%{width:60%;}
}
@keyframes iconbackAni{
    0%{width:60%;}
    100%{width:00%;}
}


/***** Toggle *****/

.toggle{width:100%; height:30%; background-color:#333; color:#fff; display:none;}
.tog-out{max-width:1600px; margin:0 auto; height:100%; position: relative;}
.tog-in{position: absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%); -o-transform:translateY(-50%);}
.tog-in a{font-size:2.5rem; display:block; font-weight: bold; letter-spacing:0.2rem; color:#fff;}
.sm-bar1{width:0; height:2px; background-color:#fff;  animation-duration: 0.5s; animation-fill-mode:forwards;}
.sm-bar2{width:0; height:2px; background-color:#fff;  animation-duration: 0.5s; animation-fill-mode:forwards;}
.sm-bar3{width:0; height:2px; background-color:#fff;  animation-duration: 0.5s; animation-fill-mode:forwards;}
.works{margin:0.5rem 0;}

@keyframes smbarAni1 {
    0%{width:0;}
    100%{width:114px;}
}
@keyframes smbarbackAni1 {
    0%{width:114px;}
    100%{width:0;}
}
@keyframes smbarAni2 {
    0%{width:0;}
    100%{width:120px;}
}
@keyframes smbarbackAni2 {
    0%{width:120px;}
    100%{width:0;}
}
@keyframes smbarAni3 {
    0%{width:0;}
    100%{width:150px;}
}
@keyframes smbarbackAni3 {
    0%{width:150px;}
    100%{width:0;}
}

