/***** Section *****/

.sec-tit{margin-top:1rem;}
.sec-main-tit{overflow: hidden;}
.sec-main-tit > li{position: relative; left:-1000px; opacity:0;}
.sec-main-tit > li > span{left:0; font-size:3rem; font-weight:700; display:block; letter-spacing:-0.1rem; line-height:2.5rem; padding:0.25rem 0;}
.sec-sub-tit{margin-top:1rem; overflow: hidden;}
.sec-sub-tit > li{ position: relative; left:-1000px; opacity: 0;}
.sec-sub-tit > li > span{display:block; color:#666; letter-spacing: 0.125rem; font-weight: 500;}

/*** Contact ***/

.ct-contact{background-color:#225f2f; color:#fff; width:170px; height:50px; text-align:center; line-height: 50px;
    font-size:2.14rem; font-weight: bold; margin:4.28rem auto; text-shadow:1px 1px 3px rgba(0,0,0,0.3);}

.contact-main{width:100%; height:57.14285714285714rem; }
.contact-main > ul > li{width:48%; height:100%; float:left; margin-right:4%;}
.contact-main > ul > li:last-child{margin-right:0;}
.contact-main > ul{width:100%; height:100%;}

.contact-box{padding:2.5rem 1rem;}
.cont_form > *{width:95%; margin-bottom:4rem; padding-left:2rem; height:60px; color:#666; font-size:1.25rem;}
.cont_form > :nth-child(5){height:200px; padding-top:1rem;}
.cont_form > :last-child{width:15%; color:#333; padding:0; text-align:center; height:2.5rem; background-color:transparent; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; border:none; box-shadow: 1px 1px 3px rgba(0,0,0,0.2);}
.cont_form > :last-child:hover{background-color:#225f2f; color:#fff;}
.contact-box > p{text-align: right; width:95%; font-size:1.25rem; color:#111;}
.contact-box > p > span{display:block;}
.contact-box > p > span:first-child{margin-bottom:1rem;}
.contact-box > p > span:first-child > i{margin-left:1rem;}
.contact-box > p > span:last-child > i {margin-left:1rem;}

.section{width:100%; height:100%;}




@media screen and (max-width:1280px){
    .sec-tit{max-width:1280px; padding:0 3rem;}

    .ct-contact{width:160px; height:45px; line-height: 45px;
        font-size:2rem; margin:4.28rem auto;}
    .cont_form > :last-child{width:20%; padding:0; text-align:center; height:2.5rem; }
    
}
@media screen and (max-width:992px){
    .sec-tit{max-width:992px; padding:0 2rem;}

    .contact-main{width:100%; height:50rem; }
    .cont_form > *{margin-bottom:3rem; padding-left:1rem; height:50px; font-size:1.125rem;}
    .contact-box > p > span{font-size:1.125rem;}
}
@media screen and (max-width:768px){
    .sec-tit{max-width:768px; padding:0 2rem;}

    .ct-contact{width:135px; height:40px; line-height: 40px;
        font-size:1.75rem; margin:4.28rem auto;}
    .sec-main-tit > li > span{left:0; font-size:2.5rem; font-weight:700; display:block; letter-spacing:-0.1rem; line-height:2rem; padding:0.25rem 0;}
    .sec-sub-tit{margin-top:1rem; overflow: hidden;}
    .sec-sub-tit > li > span{letter-spacing: 0.125rem; font-weight: 500; font-size:0.85rem;}

    .contact-main{height:57.14285714285714rem; }
    .contact-main > ul > li{width:100%; height:50%; margin-right:0;}

    .contact-box{padding:0; padding-top:1rem;}
    .cont_form > *{width:100%; margin-bottom:0.75rem; padding-left:1rem; height:40px; color:#666; font-size:1rem;}
    .cont_form > :nth-child(5){height:100px; padding-top:1rem;}
    .cont_form > :last-child{width:15%;}
    .contact-box > p{text-align: right; width:100%; font-size:1.125rem; color:#111;}
    .contact-box > p > span:first-child{margin-bottom:0.5rem;}

}
@media screen and (max-width:480px){
    .sec-tit{max-width:480px; padding:0 1rem;}

    .ct-contact{width:120px; height:35px; line-height: 35px;
        font-size:1.5rem; margin:4.28rem auto;}
    .sec-main-tit > li > span{left:0; font-size:2.25rem; font-weight:700; display:block; letter-spacing:-0.1rem; line-height:2rem; padding:0.25rem 0;}
    .sec-sub-tit{margin-top:1rem; overflow: hidden;}
    .sec-sub-tit > li > span{letter-spacing: 0.125rem; font-size:0.65rem;}
    .cont_form > :last-child{width:20%;}
}

@media screen and (max-width:360px){

    .cont_form > :last-child{width:25%;}
}